include ../mixins/left-side-body-header

-
  var contacts = {
    "A": [{
      name: "Алексей Примадонин",
      status: "Онлайн",
      avatar: "/images/avatar_3.jpg"
    }],

    "В": [{
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "/images/avatar_4.jpg"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      status: "Был онлайн вчера",
      avatar: "/images/avatar_2.jpg"
    }],

    "К": [{
      name: "Кодовёнок Хекслетович",
      status: "Был онлайн 3 часа назад",
      avatar: "/images/avatar_1.jpg"
    },
    {
      name: "Королева Верстальщина",
      status: "Была онлайн вчера",
      avatar: "/images/avatar_5.jpg"
    }],

    "П": [{
      name: "Питонист Джангович",
      status: "Был онлайн вчера",
      avatar: "/images/avatar_6.jpg"
    }],
  }

#contacts.tab-pane.fade.show.active.contacts.h-100.overflow-scroll.hide-scrollbar(role='tabpanel', aria-labelledby='pills-contacts-tab')

  +left-side-body-header('Контакты', 'контактам')
  .contacts-body
    each persons, word in contacts
      p.mt-5.text-muted= word

      each contact in persons
        a.contact.mb-3.text-decoration-none.d-flex.py-4.ps-3.shadow-sm(href='#')
          img.avatar.me-4(src = contact.avatar alt="avatar")
          .contact-body
            h3.h6.fw-bold.m-0= contact.name
            p.small.m-0= contact.status