

.left-side.col-12.col-md-4.border-end.border-gray.p-0.d-flex.flex-column.h-100
  include ./menu.pug

  section.left-side-body.pt-5.px-4.order-1.order-md-2.h-100.overflow-hidden
    include ./contacts.pug