mixin left-side-body-header(h, desired)
  -
    const search = 'Поиск по ' + desired;

  .left-side-body-header.border-bottom
    h1.mb-4.fw-bold= h
    input.border-0.bg-light.p-4.w-100(type = 'text' placeholder = search)